:root{
    --primary-color : #E6EFE9;
    --secondary-color :#C5F4E0;
    --accent1-color : #C2EABA;
    --accent2-color : #8F8389;
    --heading-font : "IBM Plex Sans";
    --text-font : "Abril Fatface ";
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    width: 100%;
    height: 140px;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	border-bottom: 1px solid #150707;

}
.logo{
 width: 180px;
 height: auto;
}
nav ul{
    display: flex;
    justify-content: space-around; 

}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #150707;

}
a:hover{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;

}
body{
    font-family: var(--text-font);
    color: var(--accent2-color);
    padding: 10px;
}
header,main,footer{
    width:100%;
    margin: auto;
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
nav,p,section,article{
    padding: 13px;
}
.hero{
    position: relative;
    width:100%;

}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article{
    position: absolute;
    text-decoration: solid;
    text-align: center;
    width: 100%;
    background-color: aqua;
    bottom:40rem;
    margin: auto;
  
}
.hero article img{
    float: right;
    width: 250px;
}
section{
    width: 100%;
    height: 10rem;
    margin-top:10px;    


}
.one{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    justify-content: center;
    text-align: center;
    border: 2px solid gray;
    background-color: #C5F4E0;
}
.text{
    color: #150707;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size: 5rem;
    text-decoration: underline double;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #150707;
}
.two{
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: auto;
    justify-content: space-around;
    border: 2px solid gray;
    background-color: burlywood;

}
.image1{
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 5px;
}
figure {
  border: thin silver solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  width: 300px;
  margin: auto;
}
figure img{
  max-width: 300px;
  height: 250px;
  border:1px solid black
}
figcaption {
  background-color: #222;
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
.socialmedia {
	display: grid;
	grid-template-columns:  80% 20%;
	align-items: center;
    width: 100%;
    height: 100px;
    background-color: #150707;
    color: white;
    margin-top: 10px;
}
.socialmedia nav{
    display: flex;
    justify-content: space-evenly;
}
.socialmedia a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50px;
    height: 50px;

}
.socialmedia a:hover{
    text-decoration: none;
    color: rgb(95, 5, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50px;
    height: 50px;
        font-size: 15px;
}
.socialmedia nav a img{
    width: 100%;
    height: 100%;
}
/* Little comment : the code of contact is begin here */
.contact{
    width: 100%;
    height: 30rem;
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.information{
    width: 50%;
    height: 25rem;
    margin-top: 40px;
    padding: 10px;
    font-family: monospace;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 20px;
}
h3{
    color: #150707;

}
.contact1{
    color: #150707;
    cursor: pointer;
}
.contact1 a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    cursor: pointer;
}
.map{
    width: 40%;
    height: 30rem;
    text-align: center;
    margin-top: 10px;
}
.map h3{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
iframe{
    width: 100%;
    height: 24.5rem;
    border-radius: 20px;
}
form{
    width: 100%;
    height: 40rem;
    background-color: #C5F4E0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
fieldset{
    width: 50%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.fieldset1{
    display: flex;
    justify-content:space-around;
    height: 10rem;

}
.form1{
    display: flex;
    flex-direction: column;
}
legend{
    font-size: 40px;
    color: blue;
}
.form1 input{
    width: 270px;
    height: 30px;
    padding: 2px;
    border: 1px solid #150707;
    border-radius: 5px;
    padding-left: 10px;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
    color: #150707;
}
.fieldset2{
    height: 25rem;
    width: 50%;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-top: 20px;
}
textarea{
    height: 10rem;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.submit input{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;

}
.submit input:hover{
    background-color: rgb(226, 0, 0);
    width: 100px;
    height: 30px;
    border-radius: 10px;

}
/* home */
.entete{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #150707;
}
.formulaire1{
    width: 100%;
    height: 18rem;
}
.bigform{
    width: 100%;
    height: 15rem;
}
.pub{
    width: 100%;
    height: 30rem;
    margin-bottom: 20px;
    display: grid;
    text-align: center;
}
/* Trips */
.sect1{
    width: 100%;
    height: 37rem;
    display: flex;
    justify-content: space-around;
    border: 4px solid black;
    border-radius: 10px;
    background-color: #8F8389;
}
.divsect{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 35rem;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #535051;
    box-shadow: 0px 10px 50px rgb(1, 115, 255);
}
.pictrips{
    width: 250px;
    height: 270px;
    border-radius: 10px;
    border: 3px solid rgb(49, 48, 42);
}
.divsect1{
    width: 20%;
    height: 20rem;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #535051;
    box-shadow: 0px 10px 50px rgb(30, 74, 90);
    text-align: center;    
}
.commantaire{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}