nav{
    background-color:  rgb(78, 55, 55);
    padding: 10px;
}
nav a{
    color: wheat;
    padding: auto;
    display: block;
}
h1{
    color: black;
}
main{
    max-width: 850px;
}
aside{
    width:100rem;
    height: 20rem;
    margin:5px;
    border: 1px solid black;
    padding:10px;
    background-color: rgb(78, 55, 55);
    color: wheat;
}
aside img{
    width: 200px;
    height: auto;

}
main img{
    width: 100px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0px 0px 40px black ;
    padding: 10px;
}

p{padding: 0;}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}